---
- name: Install apt-transport-https and lsb-release
  apt:
    update_cache: yes
    name:
      - apt-transport-https
      - lsb-release
      - gpg

- name: "create /etc/apt/keyrings"
  file:
    state: directory
    path: /etc/apt/keyrings
    owner: root
    group: root
    mode: '0755'

- name: "add MetaCentrum repository key"
  ansible.builtin.get_url:
    url: "https://repo.metacentrum.cz/key.asc"
    dest: /etc/apt/keyrings/metacentrum.asc
    force: true

- name: remove old format meta_repo.list
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/meta_repo.list
    state: absent

- name: add MetaCentrum repository
  ansible.builtin.deb822_repository:
    name: meta_repo
    types: deb
    architectures: amd64
    signed_by: /etc/apt/keyrings/metacentrum.asc
    uris: https://repo.metacentrum.cz/
    suites: all
    components: [ "main", "pilot" ]
    state: present

- name: Install/Reinstall check_mk packages
  apt:
    update_cache: yes
    name: "{{ monitoring_check_mk_packages }}"

- name: Ensure that directory are created
  file:
    path: "/usr/lib/check_mk_agent/{{ item.path }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: directory
  loop: "{{ monitoring_check_mk_dirs }}"

- name: Add nagios local_scripts from template
  template:
    src: "{{ item.src }}.j2"
    dest: "/usr/lib/check_mk_agent/{{ item.dest | default(item.src) }}"
    mode: "{{ item.mode | default('0711') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    force: yes
  loop: "{{ monitoring_check_mk_templates }}"
  when: monitoring_check_mk_templates|length > 0

- name: Add nagios files
  copy:
    src: "{{ item.src }}"
    dest: "/usr/lib/check_mk_agent/{{ item.dest | default(item.src) }}"
    mode: "{{ item.mode | default('0711') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    force: yes
  loop: "{{ monitoring_check_mk_files }}"
  when: monitoring_check_mk_files|length > 0

- name: Add nagios local config files (/etc/check_mk/)
  copy:
    src: "{{ item }}"
    dest: "/etc/check_mk/"
    mode: '0644'
    owner: root
    group: root
    force: yes
  with_fileglob:
    - "{{ monitoring_check_mk_config }}/*.cfg"
  when: monitoring_check_mk_config|length > 0

- name: "flush handlers"
  meta: flush_handlers
